<footer class="footer">
  <button>
    <img src="./assets/images/ico-arrow.svg" alt="" />
  </button>
  <nav>
    <ul>
      <li><a href="#" title="Articles">Articles</a></li>
      <li><a href="#" title="Books">Books</a></li>
      <li><a href="#" title="Events">Events</a></li>
      <li><a href="#" title="Reasons">Reasons</a></li>
      <li><a href="#" title="Tips">Tips</a></li>
    </ul>
  </nav>
  <nav>
    <ul>
      <li><a href="#" title="Twitter">Twitter</a></li>
      <li><a href="#" title="Instagram">Instagram</a></li>
      <li><a href="#" title="Mastodon.social">Mastodon.social</a></li>
    </ul>
  </nav>
  <div>
    <p>&copy2017</p>
    <p>we &hearts; components</p>
  </div>
</footer>
