<footer class="footer">
  <button class="footer__button">
    <a class="footer__button--link" href="#"><img src="./assets/images/ico-arrow.svg" alt="Scroll up" title="Scroll up"/></a>
  </button>
  <nav class="footer__nav">
    <ul class="footer__nav__list">
      <li><a class="footer__nav--link" href="#" title="Articles">Articles</a></li>
      <li><a class="footer__nav--link" href="#" title="Books">Books</a></li>
      <li><a class="footer__nav--link" href="#" title="Events">Events</a></li>
      <li><a class="footer__nav--link" href="#" title="Reasons">Reasons</a></li>
      <li><a class="footer__nav--link" href="#" title="Tips">Tips</a></li>
    </ul>
  </nav>
  <nav class="footer__nav">
    <ul class="footer__nav__list">
      <li><a class="footer__nav--link" href="#" title="Twitter">Twitter</a></li>
      <li><a class="footer__nav--link" href="#" title="Instagram">Instagram</a></li>
      <li><a class="footer__nav--link" href="#" title="Mastodon.social">Mastodon.social</a></li>
    </ul>
  </nav>
  <div class="footer__text">
    <p>&copy2017</p>
    <p>we <span class="footer__text--heart">&#10084;</span> components</p>
  </div>
</footer>
