<section class="main-reasons">
  <h3 class="main-reasons__title">3 reasons to purchase</h3>
  <article class="main-reasons__text--first">
    <h4 class="main-reasons__text__title">Ut sed metus</h4>
    <p class="main-reasons__text__paragraph">Lorem ipsum dolor sit amet, consecteur.</p>
  </article>
  <article class="main-reasons__text--second">
    <h4 class="main-reasons__text__title">Curabitur ac erat</h4>
    <p class="main-reasons__text__paragraph">Mauris mattis urna quis lorem molestie.</p>
  </article>
  <article class="main-reasons__text--third">
    <h4 class="main-reasons__text__title">Morbi dictum</h4>
    <p class="main-reasons__text__paragraph">Aliquam in dolor et dolor tincidunt.</p>
  </article>
  <button class="main-reasons__button"><a class="main-reasons__button--a" href="#" title="More reasons">More reasons</a></button>
</section>
