.main-reasons {
  background-color: $background-reasons;
  display: grid;
  grid-template-columns: 65px 1fr 65px;
  grid-template-rows: repeat(5, auto);
  row-gap: 45px;
  @media all and (min-width: 768px) {
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    column-gap: 40px;
    padding: 0 40px;
  }
  @media all and (min-width: 1200px) {
    column-gap: 25px;
    padding: 0 85px;
  }
  &__title {
    font-family: $font-secundary;
    font-size: 24px;
    text-transform: capitalize;
    grid-column: span 3;
    text-align: center;
    margin: 30px 15px 0 15px;
    @media all and (min-width: 768px) {
      grid-column: span 3;
      font-size: 26px;
    }
    @media all and (min-width: 1200px) {
      font-size: 32px;
    }
  }
  &__text {
    &--first {
      grid-column: 2 / 3;
      grid-row: span 1;
      width: 190px;
      text-align: center;
      margin: auto;
      @media all and (min-width: 768px) {
        grid-column: 1 / 2;
        grid-row: span 2;
        width: 195px;
      }
      @media all and (min-width: 1200px) {
        width: 320px;
      }
    }
    &--second {
      grid-column: 2 / 3;
      grid-row: span 1;
      width: 190px;
      text-align: center;
      margin: auto;
      @media all and (min-width: 768px) {
        grid-column: 2 / 3;
        grid-row: span 2;
        width: 195px;
      }
      @media all and (min-width: 1200px) {
        width: 320px;
      }
    }
    &--third {
      grid-column: 2 / 3;
      grid-row: span 1;
      width: 190px;
      text-align: center;
      margin: auto;
      @media all and (min-width: 768px) {
        grid-column: 3 / 4;
        grid-row: span 2;
        width: 195px;
      }
      @media all and (min-width: 1200px) {
        width: 320px;
      }
    }
    &__title {
      font-family: $font-secundary;
      font-size: 18px;
      margin-bottom: 2px;
      @media all and (min-width: 768px) {
        font-size: 24px;
      }
    }
    &__paragraph {
      font-size: 18px;
      @media all and (min-width: 768px) {
        font-size: 20px;
      }
    }
  }
  &__button {
    height: 45px;
    border-radius: 22.5px;
    background-color: $color-button;
    color: $color-secondary;
    font-size: 20px;
    font-weight: medium;
    border: none;
    margin: 0 auto 60px auto;
    grid-column: 2 / 3;
    width: 190px;
    transition-duration: 2s;
    @media all and (min-width: 768px) {
      grid-row: span 1;
      margin-top: 15px;
      grid-column: 2 / 3;
    }
    @media all and (min-width: 1200px) {
      width: 255px;
      margin: 15px auto 60px auto;
    }
    &:hover {
      background-color: $transition-secondary;
      box-shadow: 0 0 8px $color-quaternary;
      width: 200px;
      transition: box-shadow ease 0.5s, width ease 1s;
      @media all and (min-width: 1200px) {
        width: 265px;
      }
    }
  }
}
