@keyframes up {
  0% {
    transform: translateY(-70px);
    background-color: $color-secondary;
  }
  25% {
    transform: translateY(-60px);
    background-color: $color-secondary;
  }
  50% {
    transform: translateY(-80px);
    background-color: $color-secondary;
  }
  100% {
    transform: translateY(-70px);
    background-color: $color-secondary;
  }
}
