//**BUTTONS**//
$color-button-header: #0271bc;
$color-button: #f26002;

//**FONTS COLORS**//
$color-primary: black;
$color-secondary: white;
$color-tertiary: #8ccbea;
$color-quaternary: #4a4a4a;
// $color-quinary: ;

//**FONTS**//
$font-principal: "Roboto", sans-serif;
$font-secundary: "Roboto Slab", serif;

//**BACKGROUND**//
$background-reasons: #eff9ff;
$background-footer: #304268;

//**TRANSITION COLORS**//
$transition-primary: #f8eddd;
$transition-secondary: #f28000;
