//**BUTTONS**//
$color-button-header: #0271bc;
$color-button: #f26002;

//**FONT COLORS**//
$color-primary: black;
$color-secondary: white;
$color-tertiary: #8ccbea;
$color-quaternary: #4a4a4a;
$font-principal: "Roboto", sans-serif;
$font-secundary: "Roboto Slab", serif;
// $font-quinary: ;

//**BACKGROUND**//
$background-color-reasons: #eff9ff;
